<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ldy.xelog_read">

    <application>
        <activity
            android:name=".activity.XELogReadActivity"
            android:label="xelog-read"
            android:icon="@drawable/xelog_read_launcher"
            android:taskAffinity="com.ldy.xelog_read"
            android:theme="@style/xelog_read_Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LogDetailActivity"
            android:label="XELog-Detail"
            android:theme="@style/xelog_read_Theme" />
    </application>

</manifest>